/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}


/*
Overwrite standard html tag styles
*/
body {
    margin: 0;
}
img{
    border: none;
    text-decoration:none;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
select {
    padding: 4px;
}
input[type='text']{
    padding: 4px;
}
form {
    min-width: 320px;
    margin: 0 auto;
}

/*
Set printing display
*/
@media print {
    .print{
        display:inline;
    }
    .no-print{
        display:none;
    }
}

/*
Misc styles
*/
.initialHide {
    display: none;
}
.ui-icon {
    display: inline-block;
}
.no-style{
    border:none;
    text-decoration:none;
}
.form-group {
    margin-bottom: 8px;
}
.container-fluid {
    margin-top: 5px;
}

.container-center {
    margin: 0 auto; min-width: 320px; max-width: 700px;
}

.CodeMirror {
    height: 100%;
    width: 100%;
}
